body {
    background:black;
    color:white;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.submit {
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border: 0.2rem solid white;
    color: white;
    background: black;
}

#warningmessage {
    color: red;
}

.nav-link {
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border: 0.2rem solid blue;
    color: white;
    background: black;
}

.nav-container {
  display: flex;
  gap: 1rem;
}
.form-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}



.center-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
